body{
    margin: 0;
    background-color: #808080;
}
/**************************************************** Menu ************************************************/
nav{
    float: left;
    width: 100%;
    background: #000000;
    margin: 0 0 20px 0;

}
nav a{
    float: left;
    color: #ffffff;
    text-decoration: none;
    padding: 5px 15px;
}
nav a:hover{
    background: #04baf6;
}
/**************************************************** Page ************************************************/
section{
    clear: both;
    margin: 30px;
}
.erreur{
    background: #ff0000;
    padding: 5px;
    margin: 5px;
}
.validation{
    background: #669933;
    padding: 5px;
}
.jaune{
    background: #e3f950
}
.rouge{
    background: #f41233;
}
/**************************************************** Formulaire ************************************************/
label{
    float: left;
    width: 250px;
}
table{
    width: 100%;
    border-collapse: collapse;
    border: thin solid #000000;
}
table tr td{
    text-align: center;
    border: thin solid #000;
}
td, th{
    padding: 5px;
    border: thin solid #000;
}

/**************************************************** Boutique ************************************************/
.gauche{
    float: left;
    width: 150px;
    background: #04baf6;
    border: solid thin black;
}
.droite div{
    padding: 10px;
    border: solid thin black;
}
.droite div:hover{
    background: #ff3366;
}
.droite{
    float: left;
    width: 1000px;
    padding: 0 0 0 25px;
    border-left: 1px solid;
    background: #996633;
    margin-left: 50px;
}
.article{
    float: left;
    margin-left: 50px;
}
img{
    box-shadow: 1px 1px 12px;
}