@font-face {
    font-family: 'Adine Kirnberg Alternate';
    src: url('AdineKirnberg-Alternate.otf')format('truetype');
}
body{
    margin: 0;
    background-color: rgba(201, 201, 201,0.8);
    background: url(../photo/bg.jpg) top left repeat;
    background-attachment: fixed;
}
    /******** Conteneur *********/
    .conteneur{
        max-width: 1024px;
        min-height: 768px;

        margin-left: auto;
        margin-right: auto;
        background-color: rgba(2, 0, 0, 0.8);
        border-radius: 8px;

    }

    /***** Entete *****/
    header{
        min-height: 100px;
        width: auto;
        background-color: rgba(2, 0, 0, 0.8);
        background: url(../photo/hotelext3.jpg) 50% 30% no-repeat ;
        border-radius: 8px;
        /*border:#C0A028 solid 4px;
        */margin-bottom: 35px;
    }
    /**** LOGO - Etoiles ****/
    header img{
        width: 25%;
        height: 25%;
        float: left;
        margin-left: 24%;
        box-shadow: none;
    }

    /******* logo reseau sociaux entete *******/
    header .social {
        float: left;
        margin-left: 20px;
        margin-right: 10px;
        margin-top: 5px;
        width: 30px;
        height: 30px;
        border: solid black 1px;
        border-radius: 5px;
    }
    /****** Entete Droite Acceuil Contact Adresse*******/
    header .entete-droite{
        float: right;
        margin-right: 10px;
        margin-top: 20px;
        font-family: Adine Kirnberg Alternate;
        text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;

        font-size: 38px;
        padding-top: 10px;
        padding-right: 10px;
    }
    .entete-droite a,
    .entete-droite a:hover,
    .entete-droite a:active,
    .entete-droite a:visited,
    .entete-droite a:link{
        color: white;
        text-decoration:none;

    }
    .entete-droite a:hover{
        color: #C0A028;
        border-bottom: 2px #C0A028 solid;
    }

    /******** titre entete ******/
    header .titre-entete{
        width: auto;
        clear: both;
        font-family: Adine Kirnberg Alternate;
        font-size: 100px;
        text-shadow: #000000 2px 1px, #000000 -2px 1px, #000000 -2px -1px, #000000 2px -1px;
        padding-top: 0px;
        padding-bottom: 30px;
        margin-left: 20%;
        margin-right: 20%;
        line-height: 80px;
        text-align: center;
        text-decoration: none;

    }
    header span{

    }
    .titre-entete a,
    .titre-entete a:hover,
    .titre-entete a:visited,
    .titre-entete a:link,
    .titre-entete a:active{
        color: #C0A028;
        text-decoration: none;

    }
    .titre-entete a:hover{
        color: #C0A028;
        text-decoration: none;
    }
    .titre-entete a:active{
        color:#C0A028;
        text-decoration: none;
    }

    /************************************************* Menu *******/
    nav{
        width: auto;
        min-height: 60px;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        margin-top: -20px;

        border-radius: 10px;
        border: #C0A028 4px solid;

    }
    /****************************************** Cellule Menu *******/
    nav li{
        display: inline-block;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-top: 5px;
        list-style: none;
        padding-top: 10px;
        padding-left: 2px;
        padding-right: 2px;
        font-size: 45px;
        font-family: Adine Kirnberg Alternate;
        color: black;
    }
    nav li a,
    nav li a:active,
    nav li a:visited,
    nav li a:link,
    nav li a:hover{

        color: #C0A028;
        text-decoration:none;
    }
    nav li a:active{
        color:white;
    }
    nav li a:hover
    {
        color: #fff;
        border-bottom: solid #C0A028 1px;

        padding-top: 10px;
    }
    /**** Titre *****/
    .principal h1{
        color: #C0A028;
        text-align: center;
        font-family: Adine Kirnberg Alternate;
        font-size: 360%;
        border-bottom: solid #C0A028 1px;
        margin-top: 10px;

    }
    /****************************************************** Fiche article ************************************************/
    .ficheA h3 {
        color: #cccccc;
        font-size: 25px;
    }
    .ficheA p {
        color: #cccccc;
        font-size: 20px;
    }
    .ficheA a {
        color: #cccccc;
        font-size: 20px;
    }
    .ficheA h2 {
        color: #C0A028;
        font-size: 28px;
    }
    .ficheA h5 {
        color: #C0A028;
        font-size: 23px;
    }
.ficheA label{
    width: 100px;
    padding-left: 400px;
}
.ficheA select{
    margin-right: 400px;
}
    /****************************************************** Profil ************************************************/
    .profil p{
        color: #cccccc;
        font-size: 20px;
    }
    /**************************************************** Page ************************************************/
section{
    clear: both;
    margin: 30px;
}
.erreur{
    background: #ff0000;
    padding: 5px;
    margin: 5px;
}
.validation{
    background: #669933;
    padding: 5px;
}
.jaune{
    background: #e3f950
}
.rouge{
    background: #f41233;
}
/**************************************************** Formulaire ************************************************/
label{
    float: left;
    width: 250px;
    color: #fff;
}
table{
    border-collapse: collapse;
    border: thin solid #000000;
    width: 100%;
}
.tableau table{

}
table tr td{
    text-align: center;
    border: thin solid #000;
}
td, th{

    border: thin solid #000;
}
.formulaire label{
    font-size: 110%;
}
.formulaire span{
    color: #eeeeee;
}


.titreG {
    color: #eeeeee;
    font-size: 25px;
}

/**************************************************** Boutique ************************************************/
.gauche{
    float: left;
    width: auto;
    font-size: 22px;
    margin: 0px;
    margin-bottom: 300px;
    background: rgba(201, 201, 201,0.5);
    border: solid thin #C0A028;
}
.gauche a{
    color: #111111;
}

.droite div:hover{
    background: rgba(201, 201, 201,0.5);
    color: #111111;
}

.droite{
    width: auto;
    height: auto;
    color: #cccccc;
    padding:  0 0 25px;
    /*border: 1px solid #669933;*/
    margin-left: 260px;

}
.article{
    float: left;
    width: 180px;
    border: solid thin #C0A028;
    margin: 18px;
    height: 350px;
}
.article a{
    color: #cccccc;
}
.article a:hover{
    color: #111111;
}
.article img{
    box-shadow: none;
}
img{
    box-shadow: 1px 1px 12px;
}

/********** Emplacement Géographique ************/
.emplacement{
    padding-bottom: 50px;
    display: inline-block;
}
.titreemplacement{
    color: #C0A028;
    font-family: Adine Kirnberg Alternate;
    font-size: 60px;
    text-align: center;
    border-bottom: 1px solid #C0A028;
    display: block;
}

.emplacement img{
    width: 100%;
    height: 100%;
    vertical-align: middle;

}
.imgemplacement{
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid 1px #000;
}

/********************************************* Panier *********************************************/
    .panier{
        border-color: #eeeeee;
        color: #eeeeee;
        margin-left:auto;
        margin-right:auto;
        width: 60%;
        margin-bottom: 10px;
    }
    .panier td{
        border-color: #cccccc;
    }
    .panier th{
        border-color: #cccccc;
    }
    .panier tr{
        border-color: #cccccc;
    }
    .panier a {
        color: #ccc;
    }

/**************************************************** Commentaire ************************************************/
.commentaire{
    min-width: 250px;
    max-width: 250px;
    min-height: 70px;
    max-height: 70px;
    color: #000000;
}


    /******* Pied de page *******/
    .pied2page{
        margin-top: 0px;
        font-size: 30px;
        line-height: 0px;
        padding-top: -10px;
        width: 150px;
        height: 100px;
        border: none;
        font-family:  Adine Kirnberg Alternate;
    }
    .pied2page td{
        padding-top: 4px;
        border: none;
        width: 400px;
        padding-right: 150px;
        border: thin black solid;
    }
    footer{
        max-width: 1024px;
        height: auto;
        margin-left: auto;
        margin-right: auto;

        background-color: rgba(2, 0, 0, 0.8);
        margin-top: 40px;
        clear: both;
        border-radius: 8px;
        /*border:#C0A028 solid 4px;
        */margin-bottom: 35px;
    }
    /******* logo reseau sociaux entete *******/
    footer .social{
        float: right;
        margin-left: 20px;
        margin-right: 10px;
        margin-top: 60px;
        width: 30px;
        height: 30px;
        box-shadow: none;
    }
    .entete-adresse{  /****		Pied de page adresse		***/
        color: #C0A028;
        padding-right: 10%;
        font-family: Adine Kirnberg Alternate;
        font-size: 50px;
    }
    .mentionlegales{
        color:white;
        text-align: left;
        margin-left: 20px;
        margin-right: 20px;
    }

    /****** Entete Droite Acceuil Contact *******/
    footer .entete-droite {
        float: left;
        margin-top: 20px;
        font-family: Adine Kirnberg Alternate;
        font-size: 38px;
        padding-top: 10px;
        padding-right: 10px;
        width: 170px;
    }

    /****************************************************************************************************************
    ****************************************************************************************************************
    ****************************************************************************************************************
    ****************************************************************************************************************
                                            Responsive Web Design
    ****************************************************************************************************************
    ****************************************************************************************************************
    ****************************************************************************************************************
    ****************************************************************************************************************/




@media screen and (max-width:800px) {
    /* CSS pour les moyen ecrans */

    @font-face {
        font-family: 'Adine Kirnberg Alternate';
        src: url('AdineKirnberg-Alternate.otf')format('truetype');
    }
    body{
        margin: 0;
        max-width: 800px;
        background-color: rgba(201, 201, 201,0.8);
        background: url(../photo/bg.jpg) top left repeat;
        background-attachment: fixed;
        height: auto;
    }
    /******** Conteneur *********/
    .conteneur{
        max-width: 800px;


        margin-left: auto;
        margin-right: auto;
        background-color: rgba(2, 0, 0, 0.8);

    }

    /***** Entete *****/
    header{
        min-height: 100px;
        width: auto;
        background-color: rgba(2, 0, 0, 0.8);
        background: url(../photo/hotelext3.jpg) 50% 30% no-repeat ;
        border-radius: 8px;
        /*border:#C0A028 solid 4px;
        */margin-bottom: 35px;
    }
    /**** LOGO - Etoiles ****/
    header img{
        width: 25%;
        height: 25%;
        float: left;
        margin-left: 24%;
        box-shadow: none;
    }

    /******* logo reseau sociaux entete *******/
    header .social {
        float: left;
        margin-left: 20px;
        margin-right: 10px;
        margin-top: 5px;
        width: 30px;
        height: 30px;
        border: solid black 1px;
        border-radius: 5px;
    }
    /****** Entete Droite Acceuil Contact Adresse*******/
    header .entete-droite{
        float: right;
        margin-right: 10px;
        margin-top: 20px;
        font-family: Adine Kirnberg Alternate;
        text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;

        font-size: 38px;
        padding-top: 10px;
        padding-right: 10px;
    }
    .entete-droite a,
    .entete-droite a:hover,
    .entete-droite a:active,
    .entete-droite a:visited,
    .entete-droite a:link{
        color: white;
        text-decoration:none;

    }
    .entete-droite a:hover{
        color: #C0A028;
        border-bottom: 2px #C0A028 solid;
    }

    /******** titre entete ******/
    header .titre-entete{
        width: auto;
        clear: both;
        font-family: Adine Kirnberg Alternate;
        font-size: 100px;
        text-shadow: #000000 2px 1px, #000000 -2px 1px, #000000 -2px -1px, #000000 2px -1px;
        padding-top: 0px;
        padding-bottom: 30px;
        margin-left: 20%;
        margin-right: 20%;
        line-height: 80px;
        text-align: center;
        text-decoration: none;

    }
    header span{

    }
    .titre-entete a,
    .titre-entete a:hover,
    .titre-entete a:visited,
    .titre-entete a:link,
    .titre-entete a:active{
        color: #C0A028;
        text-decoration: none;

    }
    .titre-entete a:hover{
        color: #C0A028;
        text-decoration: none;
    }
    .titre-entete a:active{
        color:#C0A028;
        text-decoration: none;
    }

    /************************************************* Menu *******/
    nav{
        width: auto;
        min-height: 60px;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        margin-top: -20px;

        border-radius: 10px;
        border: #C0A028 4px solid;

    }
    /****************************************** Cellule Menu *******/
    nav li{
        display: inline-block;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-top: 5px;
        list-style: none;
        padding-top: 10px;
        padding-left: 2px;
        padding-right: 2px;
        font-size: 45px;
        font-family: Adine Kirnberg Alternate;
        color: black;
    }
    nav li a,
    nav li a:active,
    nav li a:visited,
    nav li a:link,
    nav li a:hover{

        color: #C0A028;
        text-decoration:none;
    }
    nav li a:active{
        color:white;
    }
    nav li a:hover
    {
        color: #fff;
        border-bottom: solid #C0A028 1px;

        padding-top: 10px;
    }
    /**** Titre *****/
    .principal h1{
        color: #C0A028;
        text-align: center;
        font-family: Adine Kirnberg Alternate;
        font-size: 360%;
        border-bottom: solid #C0A028 1px;
        margin-top: 10px;

    }
    /****************************************************** Fiche article ************************************************/
    .ficheA h3 {
        color: #cccccc;
        font-size: 25px;
    }
    .ficheA p {
        color: #cccccc;
        font-size: 20px;
    }
    .ficheA a {
        color: #cccccc;
        font-size: 20px;
    }
    .ficheA h2 {
        color: #C0A028;
        font-size: 28px;
    }
    .ficheA h5 {
        color: #C0A028;
        font-size: 23px;
    }
    /****************************************************** Profil ************************************************/
    .profil p{
        color: #cccccc;
        font-size: 20px;
    }
    /**************************************************** Page ************************************************/
    section{
        clear: both;
        margin: 30px;
    }
    .erreur{
        background: #ff0000;
        padding: 5px;
        margin: 5px;
    }
    .validation{
        background: #669933;
        padding: 5px;
    }
    .jaune{
        background: #e3f950
    }
    .rouge{
        background: #f41233;
    }
    /**************************************************** Formulaire ************************************************/
    label{
        float: left;
        width: 250px;
        color: #fff;
    }
    table{
        border-collapse: collapse;
        border: thin solid #000000;
    }
    table tr td{
        text-align: center;
        border: thin solid #000;
    }
    td, th{

        border: thin solid #000;
    }
    .formulaire label{
        font-size: 110%;
    }
    .formulaire span{
        color: #eeeeee;
    }

    .titreG {
        color: #eeeeee;
        font-size: 25px;
    }

    /**************************************************** Boutique ************************************************/
    .gauche{
        float: left;
        width: 150px;
        margin: 10px;
        background: rgba(201, 201, 201,0.5);
        border: solid thin #C0A028;
    }
    .gauche a{
        color: #111111;
    }

    .droite div:hover{
        background: rgba(201, 201, 201,0.5);
        color: #111111;
    }

    .droite{
        width: auto;
        height: auto;
        color: #cccccc;
        padding: 0 0 0 25px;
        /*border: 1px solid #669933;*/
        margin-left: 200px;

    }
    .article{
        float: left;
        width: 140px;
        border: solid thin #C0A028;
        margin: 18px;
    }
    .article a{
        color: #cccccc;
    }
    .article a:hover{
        color: #111111;
    }
    .article img{
        box-shadow: none;
    }
    img{
        box-shadow: 1px 1px 12px;
    }

    /********** Emplacement Géographique ************/
    .emplacement{
        width: 950px;
        min-height: 300px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 50px;
        visibility: hidden;


    }
    .titreemplacement{
        color: #C0A028;
        font-family: Adine Kirnberg Alternate;
        font-size: 60px;
        text-align: center;
        border-bottom: 1px solid #C0A028;
        visibility: hidden;
    }

    .emplacement img{
        width: 100%;
        height: 100%;

    }
    .imgemplacement{
        margin-top: 10px;
        margin-bottom: 10px;
        border: solid 1px #000;
    }

    /********************************************* Panier *********************************************/
    .panier{
        border-color: #eeeeee;
        color: #eeeeee;
    }
    .panier td{
        border-color: #cccccc;
    }
    .panier th{
        border-color: #cccccc;
    }
    .panier tr{
        border-color: #cccccc;
    }
    .panier a {
        color: #ccc;
    }

    /**************************************************** Commentaire ************************************************/
    .commentaire{
        min-width: 250px;
        max-width: 250px;
        min-height: 70px;
        max-height: 70px;
        color: #000000;
    }


    /******* Pied de page *******/
    .pied2page{
        margin-top: 0px;
        font-size: 30px;
        line-height: 0px;
        padding-top: -10px;
        width: 150px;
        height: 100px;
        border: none;
        font-family:  Adine Kirnberg Alternate;
    }
    .pied2page td{
        padding-top: 4px;
        border: none;
        width: 400px;
        padding-right: 150px;
        border: thin black solid;
    }
    footer{
        max-width: 1024px;
        height: auto;
        margin-left: auto;
        margin-right: auto;

        background-color: rgba(2, 0, 0, 0.8);
        margin-top: 40px;
        clear: both;
        border-radius: 8px;
        /*border:#C0A028 solid 4px;
        */margin-bottom: 35px;
    }
    /******* logo reseau sociaux entete *******/
    footer .social{
        float: right;
        margin-left: 20px;
        margin-right: 10px;
        margin-top: 60px;
        width: 30px;
        height: 30px;
        box-shadow: none;
        visibility: hidden;
    }
    .entete-adresse{  /****		Pied de page adresse		***/
        color: #C0A028;
        padding-right: 10%;
        font-family: Adine Kirnberg Alternate;
        font-size: 50px;
    }
    .mentionlegales{
        color:white;
        text-align: left;
        margin-left: 20px;
        margin-right: 20px;
    }

    /****** Entete Droite Acceuil Contact *******/
    footer .entete-droite {
        float: left;
        margin-top: 20px;
        font-family: Adine Kirnberg Alternate;
        font-size: 38px;
        padding-top: 10px;
        padding-right: 10px;
        width: 170px;
    }
}